// variables
$color: #ec0fec;
$theme-color: #02245b;

$el-header-height: 70px;
$robotStatus: (
  CLOSE: #fff,
  STANDBY: #eb35ce,
  CHARGING: var(--el-color-success),
  EXCEPTION: var(--el-color-warning),
  ERROR: var(--el-color-danger),
  IN_OPERATION: var(--el-color-primary)
);
// mixins
@mixin scrollBar($color: rgba(144, 147, 153, 0.3), $activeColor: rgba(144, 147, 153, 1)) {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: $color;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $activeColor;
  }
  &::-webkit-scrollbar-thumb:active {
    background: $activeColor;
  }
  // 当同时有垂直滚动条和水平滚动条时交汇的部分
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}
@mixin textEllipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin multiTextEllipsis($lineCount) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lineCount;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin flex($dir: row, $jc: center, $al: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $al;
  @content;
}
