// variables
$color: #ec0fec;
$theme-color: #02245b;

$el-header-height: 70px;

// mixins
@mixin scrollBar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: $theme-color;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(194, 193, 193);
  }
}
@mixin multiTextEllipsis($lineCount) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lineCount;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin flexRow($justify-content, $align-items) {
  display: flex;
  flex-direction: row;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin flexColumn($justify-content, $align-items) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: $align-items;
}
