@import 'element-plus/theme-chalk/index.css';
:root {
  /** color-primary */
  /* --el-color-primary: #1770F6;
  --el-color-primary-light-3: #458DF8;
  --el-color-primary-light-5: #74A9FA;
  --el-color-primary-light-7: #A2C6FB;
  --el-color-primary-light-8: #D1E2FD;
  --el-color-primary-light-9: #E7F0FE;
  --el-color-primary-dark-2: #125AC5; */
}
